body {
  font-family: sas-serif;
  margin: 2rem;
  background-image: url('/static/images/bar.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 捲動時背景不動 */
}
  
h1 {
  color: #6f42c1;
}
  
button {
  margin: 0.5rem;
  padding: 0.5rem 1rem
}

p {
  font-family: verdana;
  font-size: 20px;
}

.cocktail-card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  width: 150px;
  text-align: center;
}

.cocktail-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#progress {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff6600;
}